* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-cover;
}

#navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-evenly;
}

.nav_logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    background-image: url("amazone_logo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50px;
    width: 100px;
    border: 2px solid transparent;
}

.nav-singin a,
.nav-return a {
    color: white;
    text-decoration: none;
}

.logo:hover,
.nav-address:hover,
.nav-singin:hover,
.nav-return:hover,
.nav-cart:hover {
    border: 1.5px solid white;
}

.nav-address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    border: 2px solid transparent;
}

.add-icon {
    display: flex;
    align-items: center;
    gap: 5px;
}

.add-first {
    color: #cccccc;
    font-size: 0.85rem;
}

.add-second {
    color: white;
    font-size: 15px;
}

.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: red;
    width: 620px;
    height: 40px;
    border-radius: 4px;

}

.search-select {
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    color: #0f1111;
}

.nav-search:hover {
    border: 2px solid orange;
}

span {
    font-size: 0.7rem;
}

.nav-second {
    font-size: 0.85rem;
    font-weight: 700;
}

.nav-cart i {
    font-size: 30px;
}

.nav-cart {
    font-size: 0.85rem;
    font-weight: 700;
}

#count {
    position: absolute;
    top: 5px;
    right: 103px;
    background-color: red;
    color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.75rem;
}

.panel {
    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}

.panel-ops p {
    display: inline;
    margin-left: 15px;
}

.panel-ops {
    width: 70%;
    font-size: 0.85rem;

}

.panel-deals {
    font-size: 0.9rem;
    font-weight: 700;

}

.hero-section {
    background-image: url("./amazone_front_png/amazone_front1.jpg");
    height: 350px;
    background-size: cover;
    justify-content: center;
    display: flex;
    align-items: flex-end;

}

.hero-msg {
    background-color: white;
    color: #0f1111;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}

.hero-msg a {
    color: #f60a0a;
    cursor: pointer;
    text-decoration: none;
}

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e7e6;

}

.box {
    height: 380px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}

.box-img {
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #007185;
    cursor: pointer;
}

.box-content p:hover {
    text-decoration: underline;

}

.box-content a {
    color: #007185;
    text-decoration: none;
}

footer {
    margin-top: 15px;
}

.foot-panel1 {
    background-color: #274058;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.85rem;

}

.foot-panel1 a {
    color: #048500;
    text-decoration: none;
}

.foot-panel2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: flex;
    justify-content: space-evenly;
}

ul {
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #dddddd;
    text-decoration: none;
}

.foot-panel3 {
    background-color: #222f3d;
    color: white;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    background-image: url("amazone_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4 {
    background-color: #0f1111;
    color: white;
    height: 80px;
    text-align: center;
    padding-top: 25px
}

.pages {
    font-size: 0.7rem;
}

.copyright {
    padding-top: 5px;
}


@media (max-width: 1080px) {
    #navbar {
        height: auto;
        padding: 0px 26px 2px 1px;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
    }

    .logo {
        right: 50px;
    }

    .nav-search {
        width: 90%;
        margin-top: 10px;
    }

    .search-select {
        width: 60px;
    }

    .search-icon {
        background-color: red;
    }

    .panel {
        display: none;
    }

    .hero-section {
        height: 250px;
        background-position: center;
    }

    .hero-msg {
        background-color: transparent;
        color: white;
        width: 90%;
        font-size: 0.75rem;
    }

    .hero-msg a {
        color: black;
    }

    .shop-section {
        display: grid;
        grid-template-columns: 1fr;
        gap: 15px;
        padding: 10px;
    }

    .box {
        width: 100%;
        height: auto;
        margin-top: 0;
    }

    .box-img {
        height: 250px;
    }

    .foot-panel1 a {
        color: #048500;
        text-decoration: none;
    }

    .foot-panel2 {
        height: auto;
        flex-wrap: wrap;
        text-align: center;
        padding-bottom: 20px;
    }

    .foot-panel2 ul {
        width: 45%;
        margin-bottom: 20px;
    }

    #count {
        right: 430px;
        top: 117px;
    }


    @media (max-width: 600px) {
        .foot-panel2 ul {
            width: 100%;
        }

         #count {
        right: 109px;
        top: 117px;
    }
    }
}