*{
    margin: 0%;
    padding: 0%;
}
.all{
    height: 735px;
    width: auto;
    background-image: url(https://img.freepik.com/premium-photo/modern-clothing-store-with-blurred-effect_1167344-55093.jpg);
    background-size:cover;
     justify-content: center;
    align-items: center;
    display: flex;
}
.login{
    background: #020024;
    background: linear-gradient(96deg,rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);;
    height: 250px;
    width: 400px;
    border: 2px solid black;
    border-radius: 20px;
    left: 70px;

}
.page input{
    background-color: transparent;
    width: 54%;
    margin: 36px 53px -142px 47px;
    border-radius: 8px;
    border: 1px solid #ccc;
    color: aliceblue;
    padding: 12px 41px;
}
#submit button{
    background-color: red;
    color: white;
    margin: 29px 0px 1px 123px;
    border-radius: 8px;
    padding: 10px 50px 12px 31px;
    font-family: cursive;
    cursor: pointer;
}
